body {
	background-color: white;
	font-family: arial, sans-serif;
	font-size: 14px;
}

#titlebar {
	height: 3em;
	line-height: 3em;
	background-color: lightyellow;
	font-size: 18px;
	vertical-align: middle;
	padding-left: 0.5em;
}

#workspace {
	/* height: 800px; */
}

#tiles {
	width: 106px;
	overflow-y: auto;
	border: 1px solid gray;
}

#map {
	max-width: 100%;
	max-height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid gray;
}

pre {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 4px;
}

div.tile-wrapper {
	border: 1px solid black;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
}

div.tile-wrapper:hover {
	background-color: yellow;
}

div.tile-wrapper.selected {
	background-color: blue;
}

canvas {
	display: block;
}
