body {
	background-color: white;
	font-family: arial, sans-serif;
	font-size: 14px;
}

#titlebar {
	height: 3em;
	line-height: 3em;
	background-color: lightyellow;
	font-size: 18px;
	vertical-align: middle;
	padding-left: 0.5em;
}

#workspace {
	/* height: 800px; */
}

#workspace table {
	width: 100%;
}

#workspace td {
	vertical-align: top;
}

#tiles {
	width: 106px;
	height: 90vh;
	overflow-y: auto;
	border: 1px solid gray;
}

#map-wrapper {
	width: 80vw;
	height: 80vh;
	overflow-x: auto;
	overflow-y: auto;
	text-align: center;
	vertical-align: middle;
	border: 1px solid gray;
}

#map {
}

button {
	cursor: pointer;
}

pre {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 4px;
}

div.tile-wrapper {
	border: 1px solid black;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
}

div.tile-wrapper:hover {
	background-color: yellow;
}

div.tile-wrapper.selected {
	background-color: blue;
}

td.map-buttons {
	text-align: center;
	vertical-align: middle;
}

canvas {
	cursor: pointer;
}

.hidden {
	display: none;
}
